<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados</title>
  <link rel="stylesheet" href="dados.css">
</head>
<body>
  <table class="data-table">
    <tr>
      <th>Nome</th>
      <td id="name"></td>
    </tr>
    <tr>
      <th>Email</th>
      <td id="email"></td>
    </tr>
    <tr>
      <th>Telefone</th>
      <td id="phone"></td>
    </tr>
  </table>

  <button onclick="retornoUser()">Dados</button>
  
</body>
<script src="dados.js"></script>
</html>
