<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Usuario</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container-fora">
  <div>
    <header>
      <h1>Bem Vindo</h1>
    </header>
  </div>

    <main>
      
      <form action="" class="container-meio" id="container-meio">
        
          <p>Nome</p>
          <input type="text" placeholder=" Digite seu nome Completo" id="name-id">
        

        
          <p>Email</p>
          <input type="email" placeholder=" Digite seu Email" id="email-id">
        
        
        
          <p>Telefone</p>
          <input type="tel" placeholder=" Numero do Celular" id="mobile-number">
        

        
          <p>Senha</p>
          <input type="password" placeholder=" Digite sua Senha" id="pass-id">
          <br>

        <br>
            <button type="submit" class="btn" onClick=""><p>Cadastrar</p></button>

      </form>

      <p id="texto"></p>

    </main>

  <div>
    <footer>
      <p>criado e desenvolvido por zpx</p>

    </footer>
  </div>

</div>
</body>
<script src="/view/index.js" defer></script>
</html>