<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Usuario</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container-fora">
  <div>
    <header>
      <h1>Bem Vindo</h1>
    </header>
  </div>

    <main>
      <div class="container-meio">
        <p>
          <label for="name-id"><p class="p-inter">Nome</p><input type="text" placeholder=" Digite seu nome Completo" id="name-id"></label>
        </p>

        <p>
          <label for="email-id"><p class="p-inter">Email</p><input type="email" placeholder=" Digite seu Email" id="email-id"></label>
        </p>
        
        <p>
          <label for="mobile-number"><p class="p-inter">Celular</p><input type="tel" placeholder=" Numero do Celular" id="mobile-number"></label>
        </p>

        <p>
          <label for="pass-id"><p class="p-inter">Senha</p><input type="password" placeholder=" Digite sua Senha" id="pass-id"></label>
        </p>
        <br>

        <button type="submit" class="btn" onClick=""><p>Cadastrar</p></button>

      </div>

      <p id="texto"></p>

    </main>

  <div>
    <footer>
      <p>criado e desenvolvido por zpx</p>

    </footer>
  </div>

</div>
</body>
<script src="/view/index.js"></script>
</html>