<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="login.css">
</head>

<body>
  <div class="container-meio">
    <form action="login" method="post">
      <h1>Login</h1>
      <input type="text" id="nome" placeholder="Username">
      <br>

      <input type="password" id="senha" placeholder="Password">
      <br>
      <button type="submit">Entrar</button>
    </form>

    <p>criar conta ? <a href="/view/index.html"> clique aqui </a></p>

  </div>
  
</body>
<script src="login.js"></script>
</html>