body {
  text-align: center;
  margin: 0%;
  padding: 0%;
  font-family: roboto;
  background-color: rgb(224, 221, 221);
  background-image: url();
}

.container-fora {
  background-color: rgb(224, 221, 221);
}
.container-meio {
  display:flexbox;
  padding: 3%;
  margin: 2%;
  border: 2px black solid;
  border-radius: 6px;
  
  text-align: center;
}
input{
  width: 50%;
  height: 25px;
  border-radius: 5px;
}
.p-inter {
  text-align: center;
  margin: 2%;
}
.btn {
  background-color: red;
  width: 51%;
  height: 1%;
  border-radius: 6px;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.btn p {
  color: aliceblue;
  text-align: center;
  font-size: larger;
  font-weight: 500;
}
h1 {
  font-family:'Courier New', Courier, monospace;
  font-weight: 400;
  color: blue;
}
h1:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.3);
  
}
